<template>
  <v-stepper-content step="1" class="pa-0">
    <v-card-title class="text-subtitle-2 px-5 pt-0 pb-4 word-break-normal">
      Copia tu cvu o alias para ingresar o transferir dinero desde otra cuenta.
    </v-card-title>

    <v-card-text
      v-if="!loading"
      class="px-5"
    >
      <v-row
        no-gutters
      >
        <v-col
          cols="12"
        >
          <show-cvu-card>
          </show-cvu-card>
        </v-col>
        <v-col
          cols="12"
          class="pt-3"
        >
          <show-alias-card>
          </show-alias-card>
        </v-col>
        <v-col
          cols="12"
        >
          <edit-alias-card>
          </edit-alias-card>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-text
      v-else
      class="px-5"
    >
      <v-row
        no-gutters
      >
        <v-col
          class="d-flex justify-center align-center mt-8 mb-16"
          cols="12"
        >
          <v-progress-circular
            indeterminate
            size="64"
          ></v-progress-circular>
        </v-col>
      </v-row>
    </v-card-text>

    <v-card-actions
      class="pb-6 px-5"
    >
      <v-spacer></v-spacer>
      <copy-data-button></copy-data-button>
    </v-card-actions>
  </v-stepper-content>
</template>

<script>
  import ShowCvuCard from "./show/ShowCvuCard";
  import ShowAliasCard from "./show/ShowAliasCard";
  import EditAliasCard from "./show/EditAliasCard";
  import CopyDataButton from "./show/CopyDataButton";

  export default {
    props: {
      loading: {
        required: true,
        type: Boolean
      }
    },
    components: {
      ShowCvuCard,
      ShowAliasCard,
      EditAliasCard,
      CopyDataButton
    }
  }
</script>

<style scoped>
  .word-break-normal{
    word-break: normal;
  }
</style>