<i18n>
{
  "es": {
    "title": "Puedes usar letras y números para tu alias.",
    "error_message": "Tu operación no pudo ser realizada. Por favor intente de nuevo más tarde."
  },
  "es-AR": {
    "title": "Puedes usar letras y números para tu alias.",
    "error_message": "Tu operación no pudo ser realizada. Por favor intente de nuevo más tarde."
  },
  "en": {
    "title": "Puedes usar letras y números para tu alias.",
    "error_message": "Tu operación no pudo ser realizada. Por favor intente de nuevo más tarde."
  }
}
</i18n>

<template>
  <v-stepper-content step="2" class="pa-0">
    <v-card-title class="text-subtitle-2 px-5 pt-0 pb-4 word-break-normal">
      {{$t('title')}}
    </v-card-title>

    <v-form
      v-model="form.valid"
      ref="form"
      @submit.prevent="save_alias()"
    >
      <v-card-text
        class="px-5"
      >
        <v-row
          no-gutters
        >
          <v-col
            cols="12"
            class="py-0"
          >
            <edit-form-card
              :form="form"
            >
            </edit-form-card>
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-actions
        class="pb-6 px-5 d-flex justify-center"
      >
        <go-back-button
          :form="form"
        ></go-back-button>
        <save-button
          :form="form"
        ></save-button>
      </v-card-actions>
    </v-form>
  </v-stepper-content>
</template>

<script>
  import { mapState, mapActions } from "vuex";

  import EditFormCard from "./edit/EditFormCard";
  import SaveButton from "./edit/SaveButton";
  import GoBackButton from "./edit/GoBackButton";

  export default {
    props: {
      form: {
        required: true,
        type: Object
      }
    },
    computed: {
      ...mapState(
        "cvu-module", [
          "wallet"
        ]
      )
    },
    mounted(){
      this.form.alias = this.wallet.alias;
    },
    methods: {
      ...mapActions(
        'cvu-module', [
          'saveAlias',
          'goToShowStep'
        ]
      ),
      ...mapActions(
        'snackbar', [
          'showSnackbar'
        ]
      ),
      async save_alias(){
        this.form.loading = true;
        this.form.alias = this.form.alias.toUpperCase();
        await this.saveAlias(this.form.alias)
        .then(response => {
          this.goToShowStep();
        })
        .catch(e => {
          console.log(e);
          this.show_error_message();
        })
        this.form.loading = false;
      },
      show_error_message(){
        this.showSnackbar({
          type: 'error',
          title: this.$t('error_message')
        });
      },
    },
    components: {
      EditFormCard,
      SaveButton,
      GoBackButton
    }
  }
</script>

<style scoped>
  .word-break-normal{
    word-break: normal;
  }
</style>