<template>
  <v-dialog
    v-model="dialog"
    width="380"
  >
    <template v-slot:activator="{ on, attrs }">
      <div
        v-bind="attrs"
        v-on="on"
        class="d-flex"
      >
        <slot
          v-if="wallet != null"
          name="default"
        ></slot>
      </div>
    </template>

    <v-card
      color="grey lighten-3"
    >
      <v-card-title class="pa-0 pt-2 pr-2">
        <v-spacer></v-spacer>
        <v-btn
          icon
          medium
          @click="dialog = false"
        >
          <v-icon
            medium
          >
            mdi-close
          </v-icon>
        </v-btn>
      </v-card-title>

      <v-stepper v-model="cvuStep" class="transparent elevation-0">
        <v-stepper-items>
          <step-show-data
            :loading="loading"
          ></step-show-data>
          <step-edit-data
            :form="form"
          ></step-edit-data>
        </v-stepper-items>
      </v-stepper>
    </v-card>
  </v-dialog>
</template>

<script>
  import cvuModule from "./store";
  import { mapState, mapActions } from "vuex";

  import Vue from 'vue'
  import VueClipboard from 'vue-clipboard2'

  VueClipboard.config.autoSetContainer = true // add this line
  Vue.use(VueClipboard)

  import StepShowData from "./steps/StepShowData";
  import StepEditData from "./steps/StepEditData";

  export default {
    data () {
      return {
        dialog: false,
        loading: true,
        form: {
          valid: false,
          alias: '',
          loading: false
        }
      }
    },
    watch: {
      dialog(value){
        if (value == false) {
          this.goToShowStep();
          this.form.alias = this.wallet.alias;
        }
      }
    },
    computed: {
      ...mapState(
        "cvu-module", [
          "cvuStep",
          "wallet"
        ]
      )
    },
    created() {
      if(!this.$store.hasModule("cvu-module")) {
        this.$store.registerModule("cvu-module", cvuModule);
      }
    },
    mounted(){
      this.get_wallet();
    },
    methods: {
      ...mapActions(
        "cvu-module", [
          "goToShowStep",
          "goToEditStep",
          "getWallet"
        ]
      ),
      async get_wallet(){
        this.loading = true;
        await this.getWallet()
        .then(response => {})
        .catch(e => {
          console.log(e);
        })
        this.loading = false;
      }
    },
    components: {
      StepShowData,
      StepEditData
    }
  }
</script>

<style scoped>
  .word-break-normal{
    word-break: normal;
  }
</style>