<i18n>
{
  "es": {
    "copy_data": "Copiar datos",
    "success_message": "Datos Copiados"
  },
  "es-AR": {
    "copy_data": "Copiar datos",
    "success_message": "Datos Copiados"
  },
  "en": {
    "copy_data": "Copiar datos",
    "success_message": "Datos Copiados"
  }
}
</i18n>

<template>
  <div
    ref="container"
  >
    <v-btn
      color="#00b07f"
      class="font-weight-black px-6 px-sm-8 py-5 elevation-0 text-none white--text"
      @click="do_copy()"
    >
      {{$t('copy_data')}}
    </v-btn>
  </div>
</template>

<script>
  import { mapState, mapActions } from "vuex";

  export default {
    computed: {
      ...mapState(
        "cvu-module", [
          "wallet"
        ]
      ),
      ...mapState(
        "user", [
          "current"
        ]
      ),
      message(){
        let auxReturn = '';
        auxReturn += `${this.current.firstname} ${this.current.lastname}\r\n`;
        auxReturn += `CVU: ${this.wallet.cvu}\r\n`;
        auxReturn += `Alias: ${this.wallet.alias}\r\n`;
        if (this.current.cuit != null) {
          auxReturn += `CUIT/CUIL: ${this.current.cuit}`
        }

        return auxReturn;
      }
    },
    methods: {
      ...mapActions(
        'snackbar', [
          'showSnackbar'
        ]
      ),
      do_copy() {
        let container = this.$refs.container;
        var that = this;

        this.$copyText(this.message, container)
        .then(function (e) {
          console.log(e)
          that.show_success_message();
        }, function (e) {
          console.log(e)
        })
      },
      show_success_message(){
        this.showSnackbar({
          type: 'success',
          title: this.$t('success_message')
        });
      },
    },
  }
</script>