<i18n>
{
  "es": {
    "edit_alias": "Modificar mi alias"
  },
  "es-AR": {
    "edit_alias": "Modificar mi alias"
  },
  "en": {
    "edit_alias": "Modificar mi alias"
  }
}
</i18n>

<template>
  <v-card
    class="elevation-0 rounded-0"
    @click="goToEditStep()"
  >
    <v-divider></v-divider>
    <v-list-item
      color="primary"
    >
      <v-list-item-content>
        <v-list-item-title
          class="text-caption font-weight-black text-primary-color"
        >
          {{$t('edit_alias')}}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>

<script>
  import { mapActions } from "vuex";

  export default {
    methods: {
      ...mapActions(
        "cvu-module", [
          "goToEditStep"
        ]
      )
    },
  }
</script>

<style scoped>
  .text-primary-color{
    color: #00b07f
  }
</style>