<i18n>
{
  "es": {
    "alias": "Alias",
    "success_message": "Datos Copiados"
  },
  "es-AR": {
    "alias": "Alias",
    "success_message": "Datos Copiados"
  },
  "en": {
    "alias": "Alias",
    "success_message": "Datos Copiados"
  }
}
</i18n>

<template>
  <div
    ref="container"
  >
    <v-card
      class="elevation-0 rounded-0 pt-2 pb-1"
      @click="do_copy()"
    >
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title
            class="text-subtitle-2 font-weight-bold pb-1"
          >
            {{$t('alias')}}
          </v-list-item-title>

          <v-list-item-subtitle
            class="text-caption"
          >
            {{wallet.alias}}
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <v-icon
            color="grey lighten-1"
            small
          >mdi-content-copy</v-icon>
        </v-list-item-action>
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
  import { mapState, mapActions } from "vuex";

  export default {
    computed: {
      ...mapState(
        "cvu-module", [
          "wallet"
        ]
      )
    },
    methods: {
      ...mapActions(
        'snackbar', [
          'showSnackbar'
        ]
      ),
      do_copy() {
        let container = this.$refs.container;
        var that = this;

        this.$copyText(this.wallet.alias, container)
        .then(function (e) {
          console.log(e)
          that.show_success_message();
        }, function (e) {
          console.log(e)
        })
      },
      show_success_message(){
        this.showSnackbar({
          type: 'success',
          title: this.$t('success_message')
        });
      },
    }
  }
</script>

<style scoped>
  .word-break-normal{
    word-break: normal;
  }
</style>