<i18n>
{
  "es": {
    "alias": "Alias",
    "errors": {
      "required": " ",
      "limit": "Usá entre 6 y 20 caracteres.",
      "black_list": "No uses la letra ñ.",
      "white_list": "Los únicos caracteres especiales que puedes usar son ‘.’ y '-'.",
      "start_with": "Solo se pueden modificar los últimos caracteres del alias después del 'SS.'"
    }
  },
  "es-AR": {
    "alias": "Alias",
    "errors": {
      "required": " ",
      "limit": "Usá entre 6 y 20 caracteres.",
      "black_list": "No uses la letra ñ.",
      "white_list": "Los únicos caracteres especiales que puedes usar son ‘.’ y '-'.",
      "start_with": "Solo se pueden modificar los últimos caracteres del alias después del 'SS.'"
    }
  },
  "en": {
    "alias": "Alias",
    "errors": {
      "required": " ",
      "limit": "Usá entre 6 y 20 caracteres.",
      "black_list": "No uses la letra ñ.",
      "white_list": "Los únicos caracteres especiales que puedes usar son ‘.’ y '-'.",
      "start_with": "Solo se pueden modificar los últimos caracteres del alias después del 'SS.'"
    }
  }
}
</i18n>

<template>
  <v-card
    class="elevation-0 rounded-0 pb-2"
  >
    <v-list-item
      class="px-6"
    >
      <v-list-item-content
       class="pt-1 pb-0"
      >
        <v-list-item-title>
          <v-row
            no-gutters
          >
            <v-col
              cols="12"
            >
              <v-text-field
                v-model="form.alias"
                :rules="[
                  rules.required,
                  rules.limit,
                  rules.blackList,
                  rules.whiteList,
                  rules.startWith
                ]"
                :counter="max"
                append-icon="mdi-close"
                @click:append="clearMessage()"
                :label="$t('alias')"
                class="text-caption font-weight-bold input-uppercase"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <text-check-rule
      :rules="[
        rules.required,
        rules.limit
      ]"
      :alias="form.alias"
      :message="$t('errors.limit')"
    >
    </text-check-rule>
    <text-check-rule
      :rules="[
        rules.required,
        rules.blackList
      ]"
      :alias="form.alias"
      :message="$t('errors.black_list')"
    >
    </text-check-rule>
    <text-check-rule
      :rules="[
        rules.required,
        rules.whiteList
      ]"
      :alias="form.alias"
      :message="$t('errors.white_list')"
    >
    </text-check-rule>
    <text-check-rule
      :rules="[
        rules.required,
        rules.startWith
      ]"
      :alias="form.alias"
      :message="$t('errors.start_with')"
    >
    </text-check-rule>
  </v-card>
</template>

<script>
  import { mapActions } from "vuex";
  import TextCheckRule from "./TextCheckRule"

  export default {
    props: {
      form: {
        required: true,
        type: Object
      }
    },
    data() {
      return {
        max: 20,
        rules: {
          required: v => !!v || "",
          limit: v => (v && (v.length >= 6 && v.length <= 20)) || "",
          blackList: v => /^((?![ñ]).)*$/.test(v) || "",
          whiteList: v => /^[a-zA-Z0-9.-]*$/.test(v) || "",
          startWith: v => (/^ss\..*$/.test(v)) || (/^SS\..*$/.test(v)) || "",
        }
      }
    },
    methods: {
      ...mapActions(
        "alias-module", [
          "goToEditStep"
        ]
      ),
      clearMessage () {
        this.form.alias = ''
      },
    },
    components: {
      TextCheckRule
    }
  }
</script>

<style scoped>
  ::v-deep .input-uppercase input{
    text-transform: uppercase;
  }
</style>