<i18n>
{
  "es": {
    "go_back": "Volver"
  },
  "es-AR": {
    "go_back": "Volver"
  },
  "en": {
    "go_back": "Volver"
  }
}
</i18n>

<template>
  <v-btn
    text
    color="#00b07f"
    class="font-weight-black px-6 px-sm-10 py-5 elevation-0 text-none"
    @click="go_back()"
  >
    {{$t('go_back')}}
  </v-btn>
</template>

<script>
  import { mapState, mapActions } from "vuex";

  export default {
    props: {
      form: {
        required: true,
        type: Object
      }
    },
    computed: {
      ...mapState(
        "cvu-module", [
          "wallet"
        ]
      )
    },
    methods: {
      ...mapActions(
        "cvu-module", [
          "goToShowStep"
        ]
      ),
      go_back(){
        this.goToShowStep();
        this.form.alias = this.wallet.alias;
      },
    },
  }
</script>