<i18n>
{
  "es": {
    "submit": "Guardar",
    "success_message": "Datos Copiados"
  },
  "es-AR": {
    "submit": "Guardar",
    "success_message": "Datos Copiados"
  },
  "en": {
    "submit": "Guardar",
    "success_message": "Datos Copiados"
  }
}
</i18n>

<template>
  <v-btn
    type="submit"
    color="#00b07f"
    class="font-weight-black px-6 px-sm-10 py-5 elevation-0 text-none white--text"
    :disabled="!form.valid"
    :loading="form.loading"
  >
    {{$t('submit')}}
  </v-btn>
</template>

<script>
  export default {
    props: {
      form: {
        required: true,
        type: Object
      }
    },
  }
</script>