<template>
  <v-list-item
    class="pa-0 min-height-unset"
  >
    <v-list-item-action
      class="ma-0 justify-center align-self-start"
    >
      <v-icon
        small
        :color="!notValid ? 'success' : 'error'"
      >
        {{!notValid ? 'mdi-check-circle' : 'mdi-close-circle'}}
      </v-icon>
    </v-list-item-action>
    <v-list-item-content
      class="pa-0"
    >
      <v-list-item-title
        class="text-caption custom-text pr-4"
      >
        {{message}}
      </v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
  export default {
    props: {
      rules: {
        required: true,
        type: Array
      },
      alias: {
        required: true,
        type: String
      },
      message: {
        required: true,
        type: String
      }
    },
    computed: {
      notValid(){
        let auxReturn = false;
        for (let i = 0; i < this.rules.length; i++) {
          const rule = this.rules[i];
          if (rule(this.alias) != true) {
            auxReturn = true;
            break
          }
        }
        return auxReturn;
      }
    }
  }
</script>

<style scoped>
  .min-height-unset{
    min-height: unset;
  }
  .custom-text{
    text-overflow: unset;
    white-space: normal;
  }

</style>